html {
  scroll-behavior: smooth;
}
body {
  background: rgb(101, 211, 108);
  margin: 0px;
}
.wrapper {
  margin: 2% 5%;
}
/* side nav bar  */
sidenav {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  height: 90vh;
  text-decoration: none;
  color: black;
  right: 0;
}
sidenav a {
  color: whitesmoke;
}
sidenav a:hover {
  color: rgb(101, 211, 108);
  cursor: pointer;
}
/* Background Tile */
.backgroundtile {
  margin-top: 3%;
  background: rgb(90, 87, 87);
  border-radius: 10px;
  color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* introduction */

.photo {
  width: 30%;
  margin-left: 20px;
  display: flex;
  height: 85vh;
}
.photo img {
  border-radius: 15px;
  box-shadow: -5px 5px 25px rgba(101, 211, 108, 0.334);
}

.intro {
  width: 70%;
  padding: 3rem;
  text-align: center;
  margin-left: 10px;
}
.intro {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.intro div {
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
}
.intro role {
  font-size: 1.5rem;
}
.intro .btn_intro {
  margin-top: 40px;
  text-decoration: none;
  color: white;
  background: rgb(101, 211, 108);
  padding: 2.5% 5%;
  border-radius: 15px 0px;
  border: none;
}
.intro .btn_intro:hover {
  cursor: pointer;
  color: gray;
}
/* Education section */
.page_title {
  text-align: center;
  color: white;
  margin-top: 50px;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.edu_wrapper {
  background: rgba(90, 87, 87, 0.164);
  border-radius: 10px;
  height: 80vh;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu_card {
  border: 2px solid rgb(90, 87, 87);
  border-radius: 25px 0px;
  box-shadow: -5px 5px 10px rgb(90, 87, 87);
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 240px;
  min-height: 400px;
}
.edu_card img {
  border-radius: 25px 0px 0px;
}
.edu {
  margin: 8%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.8rem;
}
.edu loc,
p,
uni {
  font-size: smaller;
}
/* WorkExperience */
.workexp_wrapper {
  height: 80vh;
  margin-top: 3%;
  border-radius: 10px;
  background: rgba(90, 87, 87, 0.164);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Interest */
.interest_wrapper {
  height: 80vh;
  border-radius: 10px;
  background: rgba(90, 87, 87, 0.164);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: larger;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interest_wrapper ul {
  list-style-type: none;
}
.contact_wrapper {
  height: 80vh;
  border-radius: 10px;
  background: rgba(90, 87, 87, 0.164);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.contact_wrapper tr {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.contact_wrapper thead {
  font-size: x-large;
  font-weight: bolder;
}
.ref {
  width: 100%;
  margin-top: 50px;
}
/* Footer */
footer {
  background: rgb(90, 87, 87);
  color: rgba(255, 255, 255, 0.864);
  font-size: 0.6rem;
}
@media (max-width: 992px) {
  .photo {
    height: 350px;
  }
  .intro div {
    margin: 25px 0px;
  }
  .edu_card {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .backgroundtile {
    flex-direction: column;
    justify-content: flex-start;
  }
  .photo {
    margin-top: 40px;
  }
  .intro {
    width: 90%;
    padding: 0rem;
  }
  .intro div {
    margin: 15px 0px;
    font-size: 1.5rem;
  }
  .intro role {
    font-size: 1rem;
  }
  .intro tagline {
    font-size: smaller;
  }
  .intro .btn_intro {
    margin-top: 10px;
  }
  .edu_wrapper {
    flex-direction: column;
  }
  .edu_card {
    flex-direction: row;
    width: 100%;
    min-height: 10px;
    margin-top: 10px;
  }
}
